._*
*.bak
*.cab
*.iml
*.ipr
*.iws
*.lnk
*.lock
*.log
*.msi
*.msm
*.msp
*.pid
*.seed
*.sublime-project
*.sublime-workspace
.AppleDouble
.classpath
.DS_Store
.idea/
.lock-wscript
.LSOverride
.metadata
.project
.settings/
.Spotlight-V100
.Trashes
.vscode
$RECYCLE.BIN/
coverage
Desktop.ini
ehthumbs.db
Icon
logs
node_modules
out/
pids
Thumbs.db
